In [13]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [22]:
pd.set_option("display.max_rows",None)

In [23]:
data = pd.read_csv('train_house_price_prediction.csv')
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [24]:
data.keys()

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [25]:
data_2 = data[["KitchenQual","BldgType"]]

In [41]:
data_2.head()

  KitchenQual BldgType  BldgType_Le  KitchenQual_org_enc
0          Gd     1Fam            0                    3
1          TA     1Fam            0                    2
2          Gd     1Fam            0                    3
3          Gd     1Fam            0                    3
4          Gd     1Fam            0                    3

In [27]:
le = LabelEncoder()

In [28]:
le.fit_transform(data_2['BldgType'])

array([0, 0, 0, ..., 0, 0, 0])

In [31]:
data_2["BldgType_Le"] = le.fit_transform(data_2['BldgType'])
data_2.head(20)

C:\Users\Gitanshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   KitchenQual BldgType  BldgType_Le
0           Gd     1Fam            0
1           TA     1Fam            0
2           Gd     1Fam            0
3           Gd     1Fam            0
4           Gd     1Fam            0
5           TA     1Fam            0
6           Gd     1Fam            0
7           TA     1Fam            0
8           TA     1Fam            0
9           TA   2fmCon            1
10          TA     1Fam            0
11          Ex     1Fam            0
12          TA     1Fam            0
13          Gd     1Fam            0
14          TA     1Fam            0
15          TA     1Fam            0
16          TA     1Fam            0
17          TA   Duplex            2
18          Gd     1Fam            0
19          TA     1Fam            0

In [32]:
data_2["BldgType"].value_counts()

1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64

In [35]:
data_2["KitchenQual"].value_counts()

TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64

In [ ]:
'''
Kitchen Quality
    
    Ex - Excellent
    Gd - Good
    TA - Typical/Average
    Fa - Fair

'''

In [36]:
order_label = {"Ex":4,"Gd":3,"TA":2,"Fa":1}

In [38]:
data_2["KitchenQual_org_enc"] = data_2["KitchenQual"].map(order_label)

C:\Users\Gitanshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [40]:
data_2.head()

  KitchenQual BldgType  BldgType_Le  KitchenQual_org_enc
0          Gd     1Fam            0                    3
1          TA     1Fam            0                    2
2          Gd     1Fam            0                    3
3          Gd     1Fam            0                    3
4          Gd     1Fam            0                    3